<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/chat.css">
</head>
<body>

<h2>Les messages de ce topic</h2>

{% for i in range(len) %}
{% set j = 0 %}
<div class="container">
  <h4>{{message.__getitem__(j)}}</h4>
  <span class="time-right"><small>{{message.__getitem__(j+1)}}</small> </span>
  <p>{{message.__getitem__(j+2)}}</p>

</div>

<div class="container darker">
  <h4>{{message.__getitem__(j+3)}}</h4>
  <span class="time-right"><small>{{message.__getitem__(j+4)}}</small></span>
  <p>{{message.__getitem__(j+5)}}</p>

</div>

        {% if j >= i-3 %}
            {% endfor %}
        {%- else -%}
             {% set i = j %}
        {% endif %}



</body>
</html>