<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/chat.css">
</head>
<body>

<h2>Les messages de ce topic</h2>
{%-for i in range(0,len) %}
<div class="container">
  <h4>{{emetteur.__getitem__(i)}}</h4>
  <span class="time-right"><small>{{time.__getitem__(i)}}</small> </span>
  <p>{{contenu.__getitem__(i)}}</p>
</div>

{%-endfor %}


<form action="" method="POST">
<div class="row comment-box-main p-3 rounded-bottom">
<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
<input type="text" class="form-control" placeholder="votre message ...." name="message" required />
</div>
<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
<input type="submit" id='envoi' value='Nouveau' >
</div>
</div>
</form>




</body>
</html>